{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
<style>

  #db-content.overflow-hidden{
    overflow:hidden;
  }
  #db-content.no-access{
    opacity:0;
    visibility:hidden;
    max-height:0px;
  }
  #db-content.access{
    opacity:1;
    visibility:visible;
    transition:0.5s 3s;
    max-height:1000000px;
    transition:1s 4s;
  }

  #database-page-files-container .form-item-search-products .form-group,
  #database-page-figures-container .form-item-search-products .form-group{
    min-height:45px;
  }

  .database-page-figures fieldset[data-drupal-selector="edit-search-sort"] .fieldset-wrapper{
    display:flex;
    justify-content:end;
  }

  /* Catalogue eBooks */
  .catalogs .catalog .preview iframe, .presentations .presentation .preview iframe{
    max-width:80vw;
  }

  .vip-wrapper{
    min-height:calc(100vh - 1px);
    position:relative;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.10)), linear-gradient(rgba(0, 73, 151, 0.15),rgba(0, 73, 151, 0.15)), url('/sites/default/files/lattice-bg-blue.jpg'); */
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
  }
  .vip-wrapper.access{
    background:white;
  }

  header{
    padding-top:16px;
    padding-bottom:16px;
    padding-left:16px;
    padding-right:16px;
  }
  header > a > img{
    max-width:200px;
    max-height:100px;
  }

  #vip-loading-cover{
    visibility:hidden;
    opacity:0; 
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index:4;
    background:white;
    /* transition:1s 2s linear; */
  }
  #vip-loading-cover.active{
    visibility:visible;
    opacity:1; 
    transition:1s 1s linear;
  }
  #vip-loading-cover .welcome-message{
    visibility:hidden;
    opacity:0;
    font-size:48px;
    margin-top:30vh;
    text-align:center;
    transition:0.5s 1s linear;
  }
  #vip-loading-cover.active .welcome-message{
    visibility:visible;
    opacity:1; 
    margin-top:30vh;
    transition:0.5s 2s linear;
  }
  .vip-crown{
    max-width: 100px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width:992px){
    .catalogs, .presentations{
      grid-template-columns:1fr;
    }
    .database-page-figures fieldset[data-drupal-selector="edit-search-sort"] .fieldset-wrapper{
      display:block;
    }
    .database-page-figures fieldset[data-drupal-selector="edit-search-sort"] .fieldset-wrapper > div.form-group{
      margin:10px 0px;
    }
    #vip-loading-cover .welcome-message{
      font-size:24px;
    }
    .image-caption-wrapper{
      grid-template-columns:1fr;
    }
  }

</style>

<div id="vip-wrapper" class="vip-wrapper access">
  <div id="vip-loading-cover">
    <div class="welcome-message"></div>
  </div>
  <header id="vip-header">
    <a href="/"><img src="/sites/default/files/norgen-logo-white.svg"></a>
  </header>
  <div{{ content_attributes }}>

<style>

  /* Banner */

  /* #banner{
    position:relative;
    overflow:hidden;
  }
  .vid-wrapper{
    max-height:600px;
    border-radius:20px;
    width:fit-content;
    margin:auto;
    overflow:hidden;
  }
  #banner #great-journey-bg{
    margin: auto auto auto auto;
    max-height:600px;
    max-width: 900px;
    background-color: white;
    border-radius:20px;
  }
  #banner > .container{
    height:100%;
    position:relative;
  }
  #banner > .container > .grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
  }
  #banner > .container > .grid > lite-youtube{
    min-width:200px;
  }
  #banner .text {
    max-width: 900px;
    z-index: 2;
    position: relative;
    margin: auto auto;
    padding-bottom: 40px;
    border-radius: 20px;
  }
  #banner .text > h2{
    color:var(--norgen-primary-blue);
    font-weight:bold;
    font-size:48px;
  }
  #banner .text > a{
    color:var(--norgen-tertiary-rna-red);
  }
  #banner img{
    position:absolute;
    right:-10%;
    top:0;
    bottom:0;
    margin:auto;
    height:90%;
  } */
  #resources-anchor{
    position:relative;
    top:-100px;
  }
  #resources-content{
    margin:40px auto;
  }

  #contact-section{
    background-color:var(--norgen-primary-blue-light);
    padding: 60px 0px;
  }
  #contact-section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  #contact-section .cta-text{
    font-size:24px;
  }
  #contact-section .cta-content a.btn {
    font-size: 16px;
    padding: 10px 20px;
    height: 45px;
  }

  /* @media only screen and (max-width:1200px){
    #banner{
      text-align:center;
    }
    #banner img{
      display:none;
    }
    #banner #great-journey-bg{
      position:relative;
    }
  }
  @media only screen and (max-width:600px){
    #banner .text > h2{
      font-size:32px;
    }
     #banner .text {
      position:static;
      transform:none;
      box-shadow:none;
    }
    #banner .text > a{
      display:none;
    }
    #banner #great-journey-bg{
      max-height:300px;
      max-width: 100%;
    }
    #banner .container{
      padding-left:0px;
      padding-right:0px;
    }
    .vid-wrapper{
      overflow:visible;
    }
  }  */
  /* End of Banner */


  ul.section-select{
    margin:auto;
    margin-bottom:40px;
    background-color:#E8F2FC;
    list-style-type:none;
    padding:10px 10px;
    border-radius: 10px;
    /* border: 1px solid #ddd; */
    box-shadow:0px 0px 10px -5px #00000080;
    width: fit-content;
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
  }
  .section-select > li.option > button{
    /* background-color:var(--norgen-primary-blue-light);
    border:none;
    border-radius:10px;
    padding:10px 20px;
    height:100%; */
    background-color:#E8F2FC;
    border:none;
    border-radius:10px;
    padding:10px 20px;
    height:100%;
    color:var(--norgen-primary-blue);
    font-weight:bold;
  }
  #resources-content form h1{
    display:none;
  }
  .section-select > li.option.selected > button{
    background-color:white;
  }
  .section-select > li.option:not(.selected):hover > button{
    background-color:#ffffff80;
  }
  /* Publications Search + Sort */
  .views-exposed-form[data-drupal-selector="views-exposed-form-publications-or-citations-all-results"]{
    display:flex;
    justify-content:end;
    gap:10px;
  }
  .form-item-combine.form-item .form-group, .form-item-combine.form-item input{
    height:100%;
  }
  .form-item-combine.form-item input{
    font-size:17px;
    padding:5px 10px;
  }
  .form-item-combine.form-item > label{
    display:none;
  }
  .form-item-sort-bef-combine.form-item{
    position: relative;
  }
   .form-item-sort-bef-combine.form-item > label{
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 12px;
    color: inherit;
    font-weight:bold;
  }
  .form-item-sort-bef-combine.form-item > select.form-control.input-lg{
    padding-top:22px;
    height:auto;
  }

  .database-page-files fieldset > legend, .database-page-figures fieldset > legend{
    border-bottom:none!important;
    display: none;
  }
  .publications .views-element-container{
    overflow:auto;
  }
  .publications .views-exposed-form{
    margin-top:10px;
  }

  /* Catalogue eBooks */
  .catalogs, .presentations{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin:20px auto;
  }
  .container.catalogs::before,.container.catalogs::after,
  .container.presentations::before,.container.presentations::after{
    display:none;
  }
  .catalogs .catalog, .presentations .presentation{
    padding:20px;
    box-shadow:2px 2px 16px -8px #00000047;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
  }
  .catalogs .catalog h2, .presentations .presentation h2{
    font-weight:bold;
  }
  .catalogs .catalog h2 > .subheading, .presentations .presentation h2 > .subheading{
    font-weight:normal;
    font-size:16px;
  }
  .catalogs .catalog .info, .presentations .catalog .info{
    flex-grow: 1;
    display: flex;
    align-items: end;
  }
  .catalogs .catalog .info .pdf-link a, .presentations .catalog .info .pdf-link a{
    width:300px;
  }

  @media only screen and (max-width:992px){
    .catalogs, .presentations{
      grid-template-columns:1fr;
    }
  }


  /* Banner */

  #banner{
    height: 600px;
    /* padding:40px 0px; */
    /* background-image: url('/sites/default/files/resources-banner.png');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: 80% center; */
    position:relative;
    overflow:hidden;
  }
  #banner .left-cover-wrapper{
    position: absolute;
    left: 0;
    width: 60%;
    height: 100%;
    filter:drop-shadow(10px 0px 10px rgba(0,0,0,0.5));
    z-index: 1;
  }
  #banner .left-cover{
    clip-path: polygon(0% 0%, 100% -1%, 90% 100%, 0% 100%);
    background-color: white;
    width:100%;
    height:calc(100% + 5px);
    transform: translateY(-12px);
    /* background: radial-gradient(#65BFFF, transparent 60%) -300px -400px no-repeat,radial-gradient(#65E8FF, transparent 60%) 480px 350px no-repeat, white;*/
    /* background: radial-gradient(#65BFFF, transparent 70%) 207px 400px no-repeat, radial-gradient(#65E8FF, transparent 70%) -220px 150px no-repeat, white; */
    /* background-size: 100%, 200%; */
    /* background: radial-gradient(#65bfff6b, transparent 70%) 207px 400px no-repeat, radial-gradient(#65e8ff9e, transparent 70%) -220px 150px no-repeat, radial-gradient(#fffa658a, transparent 70%) -293px -300px no-repeat, radial-gradient(#b6ff9485, transparent 70%) -920px -150px no-repeat, white; */
    /* background-size: 100%, 200%; */
    background: radial-gradient(#65e8ff9e, transparent 70%) 207px 400px no-repeat, radial-gradient(#3ca9f76b, transparent 70%) -220px 150px no-repeat, radial-gradient(#ff658438, transparent 70%) -293px -300px no-repeat, radial-gradient(#a16dfc66, transparent 70%) -920px -150px no-repeat, white;
    background-size: 100%, 200%;
    padding: 0 10% 0 15px;
  }
  #banner
  .vid-wrapper{
    max-height:600px;
    border-radius:20px;
    width:fit-content;
    margin:auto;
    overflow:hidden;
  }
  #banner #great-journey-bg{
    position: absolute;
    margin: auto auto auto auto;
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: -5%;
    transform: translateX(5%);
  }
  #banner #great-journey-bg > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #banner #great-journey-bg > button{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width: fit-content;
    height: fit-content;
    color: #333;
    background-color: #ffffff80;
    backdrop-filter: blur(10px);
  }
  #banner > .container{
    height:100%;
    position:relative;
  }
  #banner .text {
    max-width: 900px;
    z-index: 2;
    position: relative;
    top: 50%;
    margin: auto auto;
    transform: translateY(-50%);
    padding-bottom: 40px;
    border-radius: 20px;
  }
  #banner .text > h2{
    color:var(--norgen-primary-blue);
    font-weight:bold;
    font-size:48px;
  }
  #banner .text > a{
    color:var(--norgen-tertiary-rna-red);
  }
  #banner img{
    position:absolute;
    right:-10%;
    top:0;
    bottom:0;
    margin:auto;
    height:90%;
  }
@media only screen and (max-width:1200px){
    #banner{
      text-align:center;
      /* height:auto; */
    }
    #banner img{
      display:none;
    }
  }
  @media only screen and (max-width:900px){
    #banner #great-journey-bg{
      position: static;
      width: 100%;
      transform:none;
    }
    #banner .left-cover-wrapper{
      position:static;
      width:100%;
      filter:none;
    }
    #banner .left-cover{
      clip-path:none;
      transform:none;
    }
    #banner{
      height:auto;
    }
    #banner .text{
      transform:none;
    }
    #vid-fullscreen-toggle{
      display:none;
    }
  }
  @media only screen and (max-width:600px){
    #banner .text > h2{
      font-size:32px;
    }
     #banner .text {
      position:static;
      transform:none;
      box-shadow:none;
    }
    #banner .text > a{
      display:none;
    }
    #banner #great-journey-bg{
      max-height:300px;
      max-width: 100%;
    }
    #banner .container{
      padding-left:0px;
      padding-right:0px;
    }
    .vid-wrapper{
      overflow:visible;
    }
  } 
  /* End of Banner */

</style>

{# <section id="banner" name="banner">
  <div class="container">
    <div class="grid">
      <div class="text">
        <h2>Total Solutions in Collection, Extraction, and Analytic Services</h2>
        <p>Explore our complete suite of research tools - with downloadable flyers and product insights</p>
        <a href="#resources-anchor">Browse Resources <i class="fa fa-arrow-down"></i></a>
      </div>
      <lite-youtube videotitle="Discover the Norgen Advantage" videoid="A69BMiflTaU" autoload="" title="Play: Discover the Norgen Advantage"></lite-youtube>
    </div>
  </div>
</section> #}
{# <section id="banner" name="banner" class="container center">
  <div class="text">
    <h2>Total Solutions in Collection, Extraction, and Analytic Services</h2>
    <p>Explore our complete suite of research tools - with downloadable flyers and product insights</p>
    <a href="#resources-anchor">Browse Resources <i class="fa fa-arrow-down"></i></a>
  </div>
  <video id="great-journey-bg" preload autoplay muted loop controls>
      <source src="https://norgenbiotek.com/sites/default/files/videos/Every_Great_Journey2025_sound.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</section> #}
<section id="banner" name="banner">
  <div class="left-cover-wrapper">
    <div class="left-cover">
      <div class="text">
        <h2>Total Solutions in Collection, Extraction, and Analytic Services</h2>
        <p>Explore our complete suite of research tools - with downloadable flyers and product insights</p>
        <a href="#resources-anchor">Browse Resources <i class="fa fa-arrow-down"></i></a>
      </div>
    </div>
  </div>
  <div id="great-journey-bg">
    <video id="great-journey-video" preload autoplay muted loop>
      <source src="https://norgenbiotek.com/sites/default/files/videos/Every_Great_Journey2025_sound.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <button id="vid-fullscreen-toggle" class="btn btn-grey">Watch Video <i style="margin-left:5px;margin-right:0px;" class="fa fa-play"></i></button>
  </div>
</section>

<a id="resources-anchor" name="resources-anchor"></a>
<section id="resources-content" name="resources-content">
  <ul class="section-select">
    <li class="option selected"><button id="pub-select">Publications</button></li>
    <li class="option"><button id="doc-select">Product Documentation</button></li>
    <li class="option"><button id="catalog-select">Catalogue eBooks</button></li>
    <li class="option"><button id="presentation-select">Training Presentations</button></li>
    <li class="option"><button id="data-select">Supporting Data</button></li>
  </ul>

  <div class="container publications active" id="pub-content">
    {# {{drupal_view('publications_or_citations_norgen_publications', 'all_results')}} #} {# View #}
    {{view}}
  </div>

  <div class="container documentation hidden" id="doc-content">
    {# {{database_page_files}} #} {# Custom Form #}
    {{files_form}}
  </div>

  <div class="container catalogs hidden" id="catalog-content">
    <div class="catalog">
      <h2>
        DNA Purification
        <br/><span class="subheading">Solutions for Cell-Free DNA, Total Genomic DNA, Plasmid DNA, Endotoxin Removal and Clean-Up and Concentration</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/dna_purification.pdf#page=1" width="300" height="420" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/dna_purification.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Environmental
        <br/><span class="subheading">Solutions for Isolation and Downstream Applications</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/environmental.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/environmental.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Liquid Biopsy
        <br/><span class="subheading">Solutions For Early Cancer Detection and NIPT</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/liquid_biopsy_solutions_nipt.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/liquid_biopsy_solutions_nipt.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Microorganism
        <br/><span class="subheading">Solutions for Isolation and Downstream Applications</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/microoragnism.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/microoragnism.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Molecular Diagnostic Kits
        <br/><span class="subheading">Reliable and Rapid Detection of Pathogens</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/molecular_diagnostics.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/molecular_diagnostics.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Neuroscience
        <br/><span class="subheading">Sample Preparation from Limited Inputs to Challenging Tissues</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/neuroscience.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/neuroscience.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        RNA Purification
        <br/><span class="subheading">Solutions for Total RNA, Cell-Free RNA &amp; RNA Cleanup and Concentration</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/rna_purification.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/rna_purification.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Saliva
        <br/><span class="subheading">Solutions for Preservation, Isolation and Downstream Applications</span>
      </h2> 
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/saliva.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/saliva.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Sample Collection &amp; Preservation
        <br/><span class="subheading">Ambient Temperature Collection, Preservation &amp; Transport of Stool, Saliva, Blood, Urine and more</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/sample_collection.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/sample_collection.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="catalog">
      <h2>
        Stool
        <br/><span class="subheading">Solutions for Preservation, Isolation and Downstream Applications</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/Booklets/stool.pdf#page=1" width="300" height="400" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/Booklets/stool.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
  </div>

  <div class="container presentations hidden" id="presentation-content">
    <div class="presentation">
      <h2>
        Urine Training
        <br/><span class="subheading">Explore Norgen's urine workflow offerings, opportunities, benefits, and more!</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Urine-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Urine-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        Saliva Training
        <br/><span class="subheading">Explore Norgen's saliva workflows, including our best products for your specific needs.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Saliva-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Saliva-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        Plasma &amp; Serum Training
        <br/><span class="subheading">Learn the benefits of Norgen's cf-DNA/cf-RNA preservative tubes, and isolation and purification kits ideal for use with plasma/serum samples.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Plasma-Serum-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Plasma-Serum-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        Stool Training
        <br/><span class="subheading">Explore Norgen's stool workflow, including our best products for your specific needs at each step: collection and preservation, isolation and purification, and downstream applications.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Stool-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Stool-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        Exosome Training
        <br/><span class="subheading">Learn more about exosomes, exosomal RNA, and the benfits of Norgen's exosome isolation kits.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Exosome-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Exosome-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        DNA Training
        <br/><span class="subheading">Discover our 5 methods of DNA isolation, and which method is right for you.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-DNA-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-DNA-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        RNA Training
        <br/><span class="subheading">Discover our 3 methods of RNA isolation, and which method is right for you.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-RNA-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-RNA-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        Collection &amp; Preservation Training
        <br/><span class="subheading">Learn the benefits of Norgen's preservative, our 2 formats of preservation, and sample-specific products.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Collection-Preservation-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Collection-Preservation-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
    <div class="presentation">
      <h2>
        EXTRAClean Training
        <br/><span class="subheading">Learn more about the benefits of our new EXTRAClean kits, and how they improve upon our standard kits.</span>
      </h2>
      <div class="preview">
        <iframe src="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Extraclean-Workflow-Training.pdf#page=1" width="400" height="280" title="PDF Viewer"></iframe>
      </div>
      <div class="info">
        <div class="pdf-link"><a href="https://norgenbiotek.com/sites/default/files/resources/presentations/Norgen-Biotek-Extraclean-Workflow-Training.pdf" target="_blank" class="btn btn-primary">View Full PDF in Browser <i class="fa fa-external-link-alt"></i></i></a></div>
      </div>
    </div>
  </div>
  
  <div class="container data hidden" id="data-content">
    {# {{database_page_figures}} #} {# Custom Form #}
    {{figures_form}}
  </div>
</section>

<section id="contact-section" name="contact-section">
  <div class="container">
    <div class="cta-content">
      <h2 class="">How can we help you today?</h2>
      <p class="cta-text">Consult with Our Team of Experts.</p>
      <a class="btn btn-primary" href="/contact">Contact Now</a>
    </div>
  </div>
</section>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    const files_form = document.querySelector('.database-page-files.form');
    const figures_form = document.querySelector('.database-page-figures.form');

    files_form.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') { // Check if the pressed key is Enter
        event.preventDefault(); // Prevent the default form submission
      }
    });
    figures_form.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') { // Check if the pressed key is Enter
        event.preventDefault(); // Prevent the default form submission
      }
    });
  });
    
  function closeWelcomeMessage() {
    document.getElementById('vip-loading-cover').classList.remove('active');
  }
  setTimeout(closeWelcomeMessage, 4000);

  function swapHeader(){
    $("#vip-header").replaceWith('<header id="vip-header"><a href="/"><img src="/sites/default/files/norgen-logo.svg"></a></header>');
    document.getElementById('vip-wrapper').classList.add('access');
  }
  setTimeout(swapHeader, 3000);

  function dbContentOverflow(){
    document.getElementById('db-content').classList.remove('overflow-hidden');
  }
  setTimeout(dbContentOverflow, 5000);


  function changeSection(e){
    button = e.currentTarget;
    selected_buttons = document.querySelector('.section-select .option.selected');
    active_container = document.querySelector('.container.active');

    selected_buttons.classList.remove('selected');
    active_container.classList.remove('active');
    active_container.classList.add('hidden');

    switch(button.id){
      case "doc-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('doc-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "pub-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('pub-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "catalog-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('catalog-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "presentation-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('presentation-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "data-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('data-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
    }
  }

  option_buttons = document.querySelectorAll('.section-select .option > button');

  option_buttons.forEach(element => {
    element.addEventListener('click',function(event){
      changeSection(event)
    });
    element.addEventListener('keydown',function(event){
      if (event.key === 'Enter') {
        changeSection(event);
      }
    });
  });
</script>

<div id="db-content" class="no-access overflow-hidden">
      
    </div>

  </div>
</div>

<script>

  function changeSection(e){
    button = e.currentTarget;
    selected_buttons = document.querySelector('.section-select .option.selected');
    active_container = document.querySelector('.container.active');

    selected_buttons.classList.remove('selected');
    active_container.classList.remove('active');
    active_container.classList.add('hidden');

    switch(button.id){
      case "doc-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('doc-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "pub-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('pub-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "catalog-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('catalog-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "presentation-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('presentation-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
      case "data-select":
        button.parentElement.classList.add('selected');
        section = document.getElementById('data-content');
        section.classList.remove('hidden');
        section.classList.add('active')
        break;
    }
  }

  option_buttons = document.querySelectorAll('.section-select .option > button');

  option_buttons.forEach(element => {
    element.addEventListener('click',function(event){
      changeSection(event)
    });
    element.addEventListener('keydown',function(event){
      if (event.key === 'Enter') {
        changeSection(event);
      }
    });
  });

  video_btn = document.getElementById('vid-fullscreen-toggle');
  video_player = document.getElementById('great-journey-video');
  video_btn.addEventListener('click', function(e){
    video_player.requestFullscreen();
    video_player.setAttribute('controls', true);
    video_player.muted = false;
  });
  video_player.addEventListener('fullscreenchange', function(e){
    if(document.fullscreenElement === null){
      // exited fullscreen
      video_player.removeAttribute('controls');
      video_player.muted = true;
    }
    else{
      // entered fullscreen
    }
  });
</script>