{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <header class="c-layout-header c-layout-header-4 c-layout-header-dark-mobile " data-minimize-offset="80">
    <input type="hidden" id="body-classes" value="c-layout-header-mobile-fixed c-layout-header-topbar c-layout-header-topbar-collapse c-header-not-fixed">
        <div class="c-topbar c-topbar-dark">
        <div class="container">
          <!-- BEGIN: INLINE NAV -->
          <nav class="c-top-menu c-pull-left">
            <ul class="c-icons c-theme-ul">
                <li><a href="http://dribbble.com" target="_blank"><i class="icon-social-dribbble"></i></a></li>
                <li><a href="http://facebook.com" target="_blank"><i class="icon-social-facebook"></i></a></li>
                <li><a href="http://www.twitter.com" target="_blank"><i class="icon-social-twitter"></i></a></li>
            </ul>
          </nav>
          <!-- END: INLINE NAV -->
  
          <!-- BEGIN: INLINE NAV -->
          <nav class="c-top-menu c-pull-right">
            <ul class="c-links c-theme-ul">
                          
              <li>
                <a href="/">Help</a>
              </li>
              <li class="c-divider">|</li>
                            
              <li>
                <a href="/">Contact</a>
              </li>
              <li class="c-divider">|</li> 
              <li class="last">
                <a href="/">FAQ</a>
              </li>
            </ul>
            <ul class="c-ext c-theme-ul">
              <li class="c-lang dropdown c-last">
                <a href="#">en</a>
                <!-- Language list menu -->
                <ul class="language-switcher-language-url dropdown-menu pull-right"><li hreflang="en" data-drupal-link-system-path="node/170" class="en is-active"><a href="/front" class="language-link is-active" hreflang="en" data-drupal-link-system-path="node/170">English</a></li><li hreflang="fr" data-drupal-link-system-path="node/170" class="fr"><a href="/fr/front" class="language-link" hreflang="fr" data-drupal-link-system-path="node/170">French</a></li><li hreflang="de" data-drupal-link-system-path="node/170" class="de"><a href="/de/front" class="language-link" hreflang="de" data-drupal-link-system-path="node/170">German</a></li><li hreflang="ar" data-drupal-link-system-path="node/170" class="ar"><a href="/ar/front" class="language-link" hreflang="ar" data-drupal-link-system-path="node/170">Arabic</a></li></ul>
              </li>
            </ul> 
          </nav>
          <!-- END: INLINE NAV -->
        </div>
      </div>
    
    <div class="c-navbar">
      <div class="container">
        <!-- BEGIN: BRAND -->
        <div class="c-navbar-wrapper clearfix">
          <div class="c-brand c-pull-left">
            <a href="/" class="c-logo">
              <img src="/themes/custom/jango_sub/logo.png" alt="Jango" class="c-desktop-logo">
              <img src="/themes/custom/jango_sub/logo.png" alt="Jango" class="c-desktop-logo-inverse">
              <img src="/themes/custom/jango_sub/logo.png" alt="Jango" class="c-mobile-logo">
            </a>
            <button class="c-hor-nav-toggler" type="button" data-bs-target=".c-mega-menu">
              <span class="c-line"></span>
              <span class="c-line"></span>
              <span class="c-line"></span>
            </button>
            <button class="c-topbar-toggler" type="button">
              <i class="fa fa-ellipsis-v"></i>
            </button>
                        <button class="c-search-toggler" type="button">
                <i class="fa fa-search"></i>
              </button>
                                  <button class="c-cart-toggler" type="button">
                <i class="icon-handbag"></i>
                <span class="c-cart-number c-theme-bg">0</span>
              </button>
                    </div>
                    <form class="search-block-form form" data-drupal-selector="search-block-form" action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
    <div class="container-inline"><div class="input-group"><div class="c-quick-search form-group js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
        <label for="edit-keys" class="visually-hidden">Search</label>
          <div class="form-group has-feedback c-quick-search">
    <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" class="input-lg form-control c-square c-theme form-search" placeholder="Type to search..." type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128">
  </div>
  
        <span class="field-suffix">×</span>
          </div>
  <div class="hidden form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions" id="edit-actions"><div class="form-group has-feedback">
    <input data-drupal-selector="edit-submit" class="btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button js-form-submit form-submit" type="submit" id="edit-submit" value="Go!">
  </div>
  </div>
  </div></div>
  </form>
  
          
          <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
          <nav class="c-mega-menu c-pull-right c-mega-menu-light c-mega-menu-dark-mobile c-mega-menu-onepage c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
            <!-- Main Menu -->
            <ul class="nav navbar-nav c-theme-nav">
                
  
  
  <li class="tbm-item level-1 tbm-justify tbm-item--has-dropdown active active-trail c-active" aria-level="1">
    <a href="/" class="tbm-link level-1 tbm-toggle active-trail c-link c-toggler" aria-expanded="false">
      
      Home
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
    <li class="mega-caption"><h3>Home Samples</h3></li>
  
  <li class="tbm-item level-2 active active-trail c-active" aria-level="2">
    <a href="/" class="tbm-link level-2 active-trail">
      
      Home version 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/basic-page-test" class="tbm-link level-2">
      
      Basic Page Test
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-2" class="tbm-link level-2">
      
      Home version 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-3" class="tbm-link level-2">
      
      Home version 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-4" class="tbm-link level-2">
      
      Home version 4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-5" class="tbm-link level-2">
      
      Home version 5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-6" class="tbm-link level-2">
      
      Home version 6
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
    <li class="mega-caption"><h3>Home Samples</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-7" class="tbm-link level-2">
      
      Home version 7
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-8" class="tbm-link level-2">
      
      Home version 8
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-9" class="tbm-link level-2">
      
      Home version 9
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-10" class="tbm-link level-2">
      
      Home version 10
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-11" class="tbm-link level-2">
      
      Home version 11
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/home-version-12" class="tbm-link level-2">
      
      Home version 12
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
    <li class="mega-caption"><h3>OnePage Samples</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-1" class="tbm-link level-2">
      
      Onepage version 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-2" class="tbm-link level-2">
      
      Onepage version 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-3" class="tbm-link level-2">
      
      Onepage version 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-4" class="tbm-link level-2">
      
      Onepage version 4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-5" class="tbm-link level-2">
      
      Onepage version 5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-6" class="tbm-link level-2">
      
      Onepage version 6
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
    <li class="mega-caption"><h3>OnePage Samples</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-7" class="tbm-link level-2">
      
      Onepage version 7
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-8" class="tbm-link level-2">
      
      Onepage version 8
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-9" class="tbm-link level-2">
      
      Onepage version 9
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-10" class="tbm-link level-2">
      
      Onepage version 10
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-11" class="tbm-link level-2">
      
      Onepage version 11
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/onepage-version-12" class="tbm-link level-2">
      
      Onepage version 12
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    
  
  
  <li class="tbm-item level-1 tbm-item--has-dropdown" aria-level="1">
    <a href="/features" class="tbm-link level-1 tbm-toggle c-link c-toggler" aria-expanded="false">
      
      Features
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="c-menu-type-classic tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
  
  <li class="tbm-item level-2 tbm-item--has-flyout" aria-level="2">
    <a href="/about-us-1" class="tbm-link level-2 tbm-toggle c-toggler" aria-expanded="false">
      
      Breadcrumbs
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-2 items-12" role="list">
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/about-us-1" class="tbm-link level-3">
      
      Breadcrumbs - Default
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/2" class="tbm-link level-3">
      
      Breadcrumbs - Sub Title
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/3" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/4" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/5" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/6" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/7" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/8" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V6
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/9" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V7
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/10" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V8
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/11" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V9
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/117/12" class="tbm-link level-3">
      
      Breadcrumbs - BG Image V10
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
        
  
  
  <li class="tbm-item level-2 tbm-item--has-flyout" aria-level="2">
    <a href="/node/170/header/v1" class="tbm-link level-2 tbm-toggle c-toggler" aria-expanded="false">
      
      Headers
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-2 items-13" role="list">
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v1" class="tbm-link level-3">
      
      Home Header V1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v1-extended" class="tbm-link level-3">
      
      Home Header V1 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v2" class="tbm-link level-3">
      
      Home Header V2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v2-extended" class="tbm-link level-3">
      
      Home Header V2 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v3" class="tbm-link level-3">
      
      Home Header V3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v4" class="tbm-link level-3">
      
      Home Header V4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v4-extended" class="tbm-link level-3">
      
      Home Header V4 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v5" class="tbm-link level-3">
      
      Home Header V5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v5-extended" class="tbm-link level-3">
      
      Home Header V5 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v6" class="tbm-link level-3">
      
      Home Header V6
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v6-extended" class="tbm-link level-3">
      
      Home Header V6 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v7" class="tbm-link level-3">
      
      Home Header V7
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/170/header/v8" class="tbm-link level-3">
      
      Home Header V8
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
        
  
  
  <li class="tbm-item level-2 tbm-item--has-flyout" aria-level="2">
    <a href="/node/118/inner-header/v1" class="tbm-link level-2 tbm-toggle c-toggler" aria-expanded="false">
      
      Inner Headers
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-2 items-7" role="list">
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v1" class="tbm-link level-3">
      
      Inner Header V1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v1-extended" class="tbm-link level-3">
      
      Inner Header V1 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v2" class="tbm-link level-3">
      
      Inner Header V2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v2-extended" class="tbm-link level-3">
      
      Inner Header V2 - Extended
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v3" class="tbm-link level-3">
      
      Inner Header V3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v4" class="tbm-link level-3">
      
      Inner Header V4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/inner-header/v5" class="tbm-link level-3">
      
      Inner Header V5
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
        
  
  
  <li class="tbm-item level-2 tbm-item--has-flyout" aria-level="2">
    <a href="/node/118/footer-1" class="tbm-link level-2 tbm-toggle c-toggler" aria-expanded="false">
      
      Footers
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-2 items-9" role="list">
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-1#footer" class="tbm-link level-3">
      
      Footer 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-2#footer" class="tbm-link level-3">
      
      Footer 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-3#footer" class="tbm-link level-3">
      
      Footer 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-4#footer" class="tbm-link level-3">
      
      Footer 4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-5#footer" class="tbm-link level-3">
      
      Footer 5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-6#footer" class="tbm-link level-3">
      
      Footer 6
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-7#footer" class="tbm-link level-3">
      
      Footer 7
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-8#footer" class="tbm-link level-3">
      
      Footer 8
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3" aria-level="3">
    <a href="/node/118/footer-9#footer" class="tbm-link level-3">
      
      Footer 9
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
        
  
  
  <li class="tbm-item level-2 tbm-item--has-flyout active active-trail c-active" aria-level="2">
    <a href="/" class="tbm-link level-2 tbm-toggle active-trail c-toggler" aria-expanded="false">
      
      Mega Menu
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-2 items-2" role="list">
        
  
  
  <li class="tbm-item level-3 active active-trail c-active" aria-level="3">
    <a href="/" class="tbm-link level-3 active-trail">
      
      Mega Menu - Dark
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3 active active-trail c-active" aria-level="3">
    <a href="/?mega_menu_bg_color=light" class="tbm-link level-3 active-trail">
      
      Mega Menu - Light
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
        
  
  
  <li class="tbm-item level-2 tbm-item--has-flyout active active-trail c-active" aria-level="2">
    <a href="/" class="tbm-link level-2 tbm-toggle active-trail c-toggler" aria-expanded="false">
      
      Multi Level Menu
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-2 items-3" role="list">
        
  
  
  <li class="tbm-item level-3 active active-trail c-active" aria-level="3">
    <a href="/" class="tbm-link level-3 active-trail">
      
      Example Link
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-3 tbm-item--has-flyout active active-trail c-active" aria-level="3">
    <a href="/" class="tbm-link level-3 tbm-toggle active-trail c-toggler" aria-expanded="false">
      
      Example Sub Menu
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span12 col-md-12">
        <ul class="tbm-subnav level-3 items-2" role="list">
        
  
  
  <li class="tbm-item level-4 active active-trail c-active" aria-level="4">
    <a href="/" class="tbm-link level-4 active-trail">
      
      Example Link
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    
  
  
  <li class="tbm-item level-1 tbm-justify tbm-item--has-dropdown" aria-level="1">
    <a href="/pages" class="tbm-link level-1 tbm-toggle c-link c-toggler" aria-expanded="false">
      
      Pages
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
    <li class="mega-caption"><h3>Page Samples 1</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/about-us-1" class="tbm-link level-2">
      
      About Us 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/about-us-2" class="tbm-link level-2">
      
      About Us 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/about-us-3" class="tbm-link level-2">
      
      About Us 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/about-us-4" class="tbm-link level-2">
      
      About Us 4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/meet-team" class="tbm-link level-2">
      
      Meet the team
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
    <li class="mega-caption"><h3>Page Samples 2</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/contact-us-1" class="tbm-link level-2">
      
      Contact Us 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/contact-us-2" class="tbm-link level-2">
      
      Contact Us 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/contact-us-3" class="tbm-link level-2">
      
      Contact Us 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/faq" class="tbm-link level-2">
      
      FAQ
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/faq-2" class="tbm-link level-2">
      
      FAQ 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/product-launch" class="tbm-link level-2">
      
      Product Launch
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
    <li class="mega-caption"><h3>Gallery Pages</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-lightbox-gallery" class="tbm-link level-2">
      
      Lightbox Gallery
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-fullwidth-gallery" class="tbm-link level-2">
      
      Full width gallery
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-masonry-gallery" class="tbm-link level-2">
      
      Masonry Gallery
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-index-gallery" class="tbm-link level-2">
      
      Gallery Index
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-4col-portfolio" class="tbm-link level-2">
      
      4 Columns Portfolio
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-2col-portfolio" class="tbm-link level-2">
      
      2 Columns Portfolio
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
    <li class="mega-caption"><h3>Blog Pages</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/page-masonry-portfolio" class="tbm-link level-2">
      
      Masonry Portfolio
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/extended-portfolio" class="tbm-link level-2">
      
      Extended Portfolio
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/blog-list-view" class="tbm-link level-2">
      
      Blog list view
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/blog-grid-view" class="tbm-link level-2">
      
      Blog Grid View
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/blog/modern-purchase-design" class="tbm-link level-2">
      
      Blog Single Post
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    
  
  
  <li class="tbm-item level-1 tbm-justify tbm-item--has-dropdown" aria-level="1">
    <a href="/shop" class="tbm-link level-1 tbm-toggle c-link c-toggler" aria-expanded="false">
      
      Shop
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
    <li class="mega-caption"><h3>Shop Pages 1</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-1" class="tbm-link level-2">
      
      Shop Home 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-2" class="tbm-link level-2">
      
      Shop Home 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-3" class="tbm-link level-2">
      
      Shop Home 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-4" class="tbm-link level-2">
      
      Shop Home 4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-5" class="tbm-link level-2">
      
      Shop Home 5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-6" class="tbm-link level-2">
      
      Shop Home 6
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-home-7" class="tbm-link level-2">
      
      Shop Home 7
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
    <li class="mega-caption"><h3>Shop Pages 2</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/product-list/left-sidebar" class="tbm-link level-2">
      
      Product List
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-product-grid/left-sidebar" class="tbm-link level-2">
      
      Product Grid
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/product-search/shop/left-sidebar" class="tbm-link level-2">
      
      Product Search
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/product/warm-winter-jacket" class="tbm-link level-2">
      
      Product Details 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/product/2/shop/left-sidebar" class="tbm-link level-2">
      
      Product Details 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/cart" class="tbm-link level-2">
      
      Shopping Cart
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/cart/empty" class="tbm-link level-2">
      
      Shopping Cart (Empty)
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
    <li class="mega-caption"><h3>Shop Pages 3</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/cart" class="tbm-link level-2">
      
      Checkout
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/user/register" class="tbm-link level-2">
      
      Customer Login/Register
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/user" class="tbm-link level-2">
      
      Customer Dashboard
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/compare/shop/left-sidebar" class="tbm-link level-2">
      
      Product Comparison
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/wishlist/left-sidebar" class="tbm-link level-2">
      
      Wish List
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
    <li class="mega-caption"><h3>Shop Components</h3></li>
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-components-1" class="tbm-link level-2">
      
      Shop Components 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-components-2" class="tbm-link level-2">
      
      Shop Components 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/products-split" class="tbm-link level-2">
      
      Shop Components 3
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-components-4" class="tbm-link level-2">
      
      Shop Components 4
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-components-5" class="tbm-link level-2">
      
      Shop Components 5
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-components-6" class="tbm-link level-2">
      
      Shop Components 6
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/shop-components-7" class="tbm-link level-2">
      
      Shop Components 7
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    
  
  
  <li class="tbm-item level-1 tbm-justify tbm-item--has-dropdown" aria-level="1">
    <a href="/components" class="tbm-link level-1 tbm-toggle c-link c-toggler" aria-expanded="false">
      
      Components
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/lists" class="tbm-link level-2">
      
      Lists
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/blockquotes" class="tbm-link level-2">
      
      Blockquotes
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/navigations" class="tbm-link level-2">
      
      Navigations
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/fontawesome-font-icons" class="tbm-link level-2">
      
      Fontawesome Font Icons
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/simpleline-font-icons" class="tbm-link level-2">
      
      Simpleline Icons
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/glyphicons-icons" class="tbm-link level-2">
      
      Glyphicons Icons
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/custom-icons" class="tbm-link level-2">
      
      Custom Icons
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/social-icons" class="tbm-link level-2">
      
      Social Icons
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/responsive-media-embeds" class="tbm-link level-2">
      
      Responsive Media Embeds
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/labels-badges" class="tbm-link level-2">
      
      Labels &amp; Badges
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/ui-colors" class="tbm-link level-2">
      
      UI Colors
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/buttons" class="tbm-link level-2">
      
      Buttons
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/form-controls" class="tbm-link level-2">
      
      Form Controls
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/tables" class="tbm-link level-2">
      
      Tables
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/modals" class="tbm-link level-2">
      
      Modals
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-5" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/jango-tabs" class="tbm-link level-2">
      
      Tabs
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/paginations" class="tbm-link level-2">
      
      Paginations
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/panels" class="tbm-link level-2">
      
      Panels
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/progress-bars" class="tbm-link level-2">
      
      Progress Bars
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/alerts" class="tbm-link level-2">
      
      Alerts
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
    
  
  
  <li class="tbm-item level-1 tbm-justify tbm-item--has-dropdown" aria-level="1">
    <a href="/tabbed-contents" class="tbm-link level-1 tbm-toggle c-link c-toggler" aria-expanded="false">
      
      Extra
  
            <span class="c-arrow c-toggler"></span>
        </a>
    
  <ul class="tbm-submenu tbm-item-child x11 dropdown-menu c-menu-type-mega2" role="list">
          <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/tabbed-contents" class="tbm-link level-2">
      
      Tabbed Contents
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/parallax-blocks-1" class="tbm-link level-2">
      
      Parallax Blocks 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/parallax-blocks-2" class="tbm-link level-2">
      
      Parallax Blocks 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/feature-blocks" class="tbm-link level-2">
      
      Feature blocks
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/feature-blocks-2" class="tbm-link level-2">
      
      Feature blocks 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/latest-works" class="tbm-link level-2">
      
      Latest Works
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/latest-items" class="tbm-link level-2">
      
      Latest Items
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/tiles" class="tbm-link level-2">
      
      Tiles
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/services" class="tbm-link level-2">
      
      Services
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/elements-blog" class="tbm-link level-2">
      
      Blog Elements
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/counters" class="tbm-link level-2">
      
      Counters
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/engage-bars-0" class="tbm-link level-2">
      
      Engage Bars
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/isotope-gallery" class="tbm-link level-2">
      
      Isotope Gallery
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/isotope-grid" class="tbm-link level-2">
      
      Isotope Grid
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-7" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/pricing-tables-1" class="tbm-link level-2">
      
      Pricing Tables 1
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/pricing-tables-2" class="tbm-link level-2">
      
      Pricing Tables 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/testimonials" class="tbm-link level-2">
      
      Testimonials
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/testimonials-2" class="tbm-link level-2">
      
      Testimonials 2
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/clients" class="tbm-link level-2">
      
      Clients
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/about-blocks" class="tbm-link level-2">
      
      About Blocks
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/dividers" class="tbm-link level-2">
      
      Dividers
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
    <li class="tbm-column span3 col-md-3">
        <ul class="tbm-subnav level-1 items-6" role="list">
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/steps" class="tbm-link level-2">
      
      Steps
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/app-showcase" class="tbm-link level-2">
      
      App Showcase
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/team" class="tbm-link level-2">
      
      Team
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/headings" class="tbm-link level-2">
      
      Headings
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/accordion-contents" class="tbm-link level-2">
      
      Accordion contents
  
        </a>
    
  </li>
  
        
  
  
  <li class="tbm-item level-2" aria-level="2">
    <a href="/animated-progress-bars" class="tbm-link level-2">
      
      Animated Progress Bars
  
        </a>
    
  </li>
  
    </ul>
  
    </li>
  
  
    </ul>
  
  </li>
  
  
  
  
                            <li class="c-search-toggler-wrapper">
                  <a href="#" class="c-btn-icon c-search-toggler">
                    <i class="fa fa-search"></i>
                  </a>
                </li>
              
                            <li class="c-cart-toggler-wrapper">
                  <a href="/cart" class="c-btn-icon c-cart-toggler">
                    <i class="icon-handbag c-cart-icon"></i>
                    <span class="c-cart-number c-theme-bg">0</span>
                  </a>
                </li>
              
                            <li>
                                                                    <a href="/user" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                    <i class="icon-user"></i> Account
                  </a>
                </li>
              
                        </ul>
          </nav>
        </div>
  
                <div class="c-cart-menu">
            <div class="c-cart-menu-title">
              <p class="c-cart-menu-float-l c-font-sbold">0 items</p>
              <p class="c-cart-menu-float-r c-theme-font c-font-sbold">USD 1739</p>
            </div>
            <div id="block-cart" class="contextual-region">
    
      <div data-contextual-id="block:block=cart:langcode=en" data-contextual-token="_b_uLKI7Jvy8MXDwAYU3sfxkEkr8_LgXlNXMW7uMNGU" data-drupal-ajax-container="" data-once="contextual-render" class="contextual"><button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open  configuration options</button><ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/cart?destination=/node/170">Configure block</a></li><li class="block-remove"><a href="/admin/structure/block/manage/cart/delete?destination=/node/170">Remove block</a></li></ul></div>
        
    <div class="cart cart-block"><div class="views-element-container"><div class="js-view-dom-id-eb7f2bc194c2597f7c283b82978a15206599767af9067614e6e9e5cd05c467fd">
    
    
    
  
    
    
    
  
    <div class="views-form"><form data-drupal-selector="views-form-commerce-cart-block-default-29" class="form" action="/front" method="post" id="views-form-commerce-cart-block-default-29" accept-charset="UTF-8">
    
  <ul class="c-cart-menu-items">
            <li>
        <div class="c-cart-menu-close">
          <a href="#" class="c-theme-link">×</a>
        </div>
          <img loading="lazy" src="/sites/default/files/styles/product__120x120_/public/2017-07/34.jpg?itok=hDWo_6yL" width="120" height="120" alt="Product">
  
  
  <div class="c-cart-menu-content"><p>1&nbsp;x <span class="c-item-price c-theme-font">$79</span></p></div><div class="c-cart-menu-content"><a href="/product/warm-winter-jacket" hreflang="und">Warm Winter Jacket</a></div><div class="c-cart-menu-close"><div class="form-group has-feedback">
    <input class="delete-order-item btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button js-form-submit form-submit" data-drupal-selector="edit-remove-button-0" type="submit" id="edit-remove-button-0" name="delete-order-item-0" value="Remove">
  </div>
  </div>
      </li>
            <li>
        <div class="c-cart-menu-close">
          <a href="#" class="c-theme-link">×</a>
        </div>
          <img loading="lazy" src="/sites/default/files/styles/product__120x120_/public/2017-07/20.png?itok=_wdA4zfh" width="120" height="120" alt="Product">
  
  
  <div class="c-cart-menu-content"><p>1&nbsp;x <span class="c-item-price c-theme-font">$860</span></p></div><div class="c-cart-menu-content"><a href="/product/apple-iphone6" hreflang="und">Apple iPhone6+</a></div><div class="c-cart-menu-close"><div class="form-group has-feedback">
    <input class="delete-order-item btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button js-form-submit form-submit" data-drupal-selector="edit-remove-button-1" type="submit" id="edit-remove-button-1" name="delete-order-item-1" value="Remove">
  </div>
  </div>
      </li>
            <li>
        <div class="c-cart-menu-close">
          <a href="#" class="c-theme-link">×</a>
        </div>
          <img loading="lazy" src="/sites/default/files/styles/product__120x120_/public/23.png?itok=EsfHlkh1" width="120" height="120" alt="iphone">
  
  
  <div class="c-cart-menu-content"><p>1&nbsp;x <span class="c-item-price c-theme-font">$800</span></p></div><div class="c-cart-menu-content"><a href="/product/apple-iphone6" hreflang="und">Apple iPhone6+</a></div><div class="c-cart-menu-close"><div class="form-group has-feedback">
    <input class="delete-order-item btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button js-form-submit form-submit" data-drupal-selector="edit-remove-button-2" type="submit" id="edit-remove-button-2" name="delete-order-item-2" value="Remove">
  </div>
  </div>
      </li>
    </ul>
  <div class="form-group has-feedback">
    <input autocomplete="off" data-drupal-selector="form-k9xf3l7yuwfptcz1nnldq05jykdiwszccab4ukduqei" type="hidden" name="form_build_id" value="form-K9Xf3L7YuWFptCz1nNlDQ05jykDIwSZCCaB4ukdUqEI">
  </div>
  <div class="form-group has-feedback">
    <input data-drupal-selector="edit-views-form-commerce-cart-block-default-29-form-token" type="hidden" name="form_token" value="eHKJ4DYIC5kHdO7cVE5eJxlXRRKsf8SRG_lK3ZUWyo8">
  </div>
  <div class="form-group has-feedback">
    <input data-drupal-selector="edit-views-form-commerce-cart-block-default-29" type="hidden" name="form_id" value="views_form_commerce_cart_block_default_29">
  </div>
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2"><div class="form-group has-feedback">
    <input data-drupal-selector="edit-submit" class="btn-medium btn btn-mod c-btn c-theme-btn c-font-bold c-font-uppercase c-font-white button js-form-submit form-submit" type="submit" id="edit-submit--2" name="op" value="Save">
  </div>
  </div>
  
  </form>
  </div>
    
  </div>
  </div>
  </div>
  
    <div class="c-cart-menu-footer">
      <a href="/cart" class="btn btn-md c-btn c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">
        View Cart
      </a>
      <a href="/cart" class="btn btn-md c-btn c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">
        Checkout
      </a>
    </div>
  
    </div>
    </div>
      </div>
    </div>
  </header>
  
</div>
